/*Variaveis*/

:root {
    --bg-color: #ebebeb;
    --input-placeholder: #d4d4d4;
    --input-bg: #efefef;
    --texto-destaque: #ffff;
    --azul-destaque: #2a7ae4;
    --bg-contato: #eaf2fd;
    font-family: "Raleway", sans-serif;
}

/*Normalize*/

body {
    background-color: var(--bg-color);
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1,
p {
    margin: 8px 0px 8px 0px;
}

/*Padrão de projeto*/

textarea:focus,
input:focus {
    border: 0 none;
    box-shadow: 0 0 0 0;
    outline: 0;
}

input::placeholder,
textarea::placeholder {
    color: var(--input-placeholder);
    padding: 2%;
}

a {
    color: var(--azul-destaque);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    text-decoration: none;
}

button {
    cursor: pointer;
}

/*Header Geral*/

header {
    background-color: var(--texto-destaque);
    margin: 0 auto;
    padding: 20px;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Divs do Header*/

.logo {
    align-items: center;
    display: flex;
    order: 1;
}

.logo img {
    height: 27.17px;
    width: 38.02px;
}

.logo span {
    font-size: 20px;
    font-weight: bolder;
}

.logo .logo-azul {
    color: var(--azul-destaque);
    margin-left: 3.5px;
}

.busca {
    background-repeat: no-repeat;
    border: none;
    border-radius: 30px;
}

.login {
    display: flex;
    justify-content: center;
}

.login button {
    background: none;
    border: solid 1px var(--azul-destaque);
    color: var(--azul-destaque);
    font-size: 15px;
    font-weight: 500;
    height: 48px;
}

.login button:hover {
    background-color: var(--azul-destaque);
    color: var(--texto-destaque);
}

/*Banner Promocional*/

.destaque {
    background-image: url(../img/banner-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 32px 32px 0px 20px;
    position: relative;
}

.banner {
    bottom: 22px;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: end;
    position: absolute;
}

.banner h1 {
    color: var(--texto-destaque);
    font-weight: 700;
    margin: 0;
}

.banner h4 {
    color: var(--texto-destaque);
    font-weight: 600;
}

.banner button {
    background-color: var(--azul-destaque);
    border: none;
    color: var(--texto-destaque);
    font-family: "Raleway", sans-serif;
}

/*Sessão de produtos*/

.geral-prods {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*Divs na Sessão Produtos*/

.prod-titulo {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.prod-titulo .titulo {
    color: #464646;
    font-weight: bold;
    padding: 20px;
}

.mostrar-mais {
    color: var(--azul-destaque);
    display: flex;
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
}

.div-verTudo {
    align-items: center;
    display: flex;
    gap: 0.4rem;
    margin-right: 10px;
}

.sessao-produtos {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.produto {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 5px;
    height: 40%;
}

.produto img {
    height: auto;
    width: auto;
}

.verTudo {
    height: 15px;
    width: 15px;
}

.product-name {
    color: #464646;
    font-size: 16px;
    font-weight: 500;
}

.preco {
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    margin: 6px 0;
}

.ver-produto {
    color: var(--azul-destaque);
    font-size: 16px;
    font-weight: 700;
}

img {
    width: 176px;
    height: 174px;
}

/*Form Contato*/

.contato {
    background-color: var(--bg-contato);
    padding-top: 40px;
}

.referencia {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.img-crud {
    width: 250px;
    height: 200px;
}

.referencia span {
    font-weight: 700;
}

.referencia .logo-azul {
    color: var(--azul-destaque);
    margin-left: 3.5px;
}

.links-uteis {
    line-height: 40px;
    text-align: center;
    width: 200px;
}

.links-uteis a {
    color: black;
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-titulo {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.label-float {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    justify-content: flex-end;
    position: relative;
}

.input-nome {
    border: transparent;
    border-bottom: solid 2px var(--input-placeholder);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--azul-destaque);
    font-size: 18px;
    height: 56px;
    margin-bottom: 20px;
    padding: 12px 12px 2px;
    position: relative;
    width: 100%;
}

.input-nome:hover {
    border-bottom: solid 2px var(--azul-destaque);
    transition: linear 1s;
}

.label-nome {
    font-size: 12px;
    left: 12px;
    position: absolute;
    top: 5px;
}

.mensagem {
    border: transparent;
    border-bottom: solid 2px var(--input-placeholder);
    color: var(--azul-destaque);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 12px 12px 2px;
    resize: none;
}

.mensagem:hover {
    border-bottom: solid 2px var(--azul-destaque);
    transition: linear 1s;
}

.mensagem::placeholder {
    color: black;
    padding-left: 4px;
}

.form button {
    background-color: var(--azul-destaque);
    border: none;
    color: var(--texto-destaque);
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 51px;
    margin-bottom: 40px;
}

.desenvolvedor {
    background-color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    padding: 20px 0;
    text-align: center;
}

@media screen and (min-width: 0) {

    /*Divs do Header*/

    .logo-busca {
        align-items: center;
        display: flex;
        gap: 20%;
        justify-content: space-between;
    }

    .busca {
        background-image: url(../img/lupa-negro.png);
        background-position: center;
        height: 25px;
        order: 3;
        padding: 2% 3%;
        width: 0;
    }

    .busca::placeholder {
        visibility: hidden;
    }

    .login {
        order: 2;
    }

    .login button {
        width: 140px;
    }

    /*Banner Promocional*/

    .destaque {
        height: 250px;
    }

    .banner h1 {
        font-size: 26.5px;
        text-shadow: 2px 2px 0px #323131;
    }

    .banner h4 {
        font-size: 15.5px;
        margin: 15px 0;
        text-shadow: 2px 1px 0px #323131;
    }

    .banner button {
        font-size: 14px;
        font-weight: 600;
        height: 51px;
        width: 150px;
    }

    /*Sessão de produtos*/

    .geral-prods {
        margin: 35px auto 0;
    }

    /*Divs na Sessão Produtos*/

    .prod-titulo .titulo {
        font-size: 32px;
    }

    .sessao-produtos {
        gap: 0.1rem;
        justify-content: space-evenly;
    }

    .produto {
        width: 40%;
    }

    /*Form Contato*/

    .contato {
        justify-content: center;
    }

    .img-footer {
        height: 45px;
        width: 65px;
    }

    .referencia span {
        font-size: 40px;
    }

    .links-uteis {
        margin: 25px auto;
    }

    .links-uteis a {
        padding: 3px 0;
    }

    .form {
        padding: 0 20px 20px;
    }

    .form button {
        width: 50%;
    }

    .desenvolvedor {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {

    /*Divs do Header*/

    .logo-busca {
        margin: 0 15px;
    }

    .busca {
        background-color: var(--input-bg);
        background-image: url(../img/lupa.png);
        background-position: right;
        background-position-x: 94%;
        height: 40px;
        order: 2;
        padding: 1% 2%;
        width: 375px;
    }

    .busca::placeholder {
        visibility: visible;
    }

    .busca:focus {
        border: 1px solid var(--input-placeholder);
    }

    .login {
        margin: 0 2% 0 1%;
        order: 3;
    }

    .login button {
        width: 160px;
    }

    /*Banner Promocional*/

    .destaque {
        height: 350px;
    }

    .banner {
        padding-bottom: 15px;
        padding-left: 20px;
    }

    .banner h1 {
        font-size: 52px;
        text-shadow: 3px 3px 0px #323131;
    }

    .banner h4 {
        font-size: 22.5px;
        font-weight: 500;
        margin: 20px 0;
        text-shadow: 3px 2px 0px #323131;
    }

    .banner button {
        font-size: 16px;
        font-weight: 500;
        height: 48px;
        width: 160px;
    }

    /*Sessão de produtos*/

    .geral-prods {
        margin: 35px 10px 0;
    }

    /*Divs na Sessão Produtos*/

    .prod-titulo .titulo {
        font-size: 27px;
    }

    .produto {
        width: 20%;
    }

    /*Form Contato*/

    .contato {
        display: flex;
        justify-content: space-evenly;
    }

    .contato-div {
        margin-left: 40px;
        width: 30%;
    }

    .img-footer {
        width: 49px;
    }

    .referencia span {
        font-size: 28px;
    }

    .links-uteis a {
        padding: 2.5px 0;
        text-align: left;
    }

    .form {
        margin-left: 50px;
        margin-right: 20px;
        padding: 0 25px 20px 20px;
        width: 60%;
    }

    .form button {
        width: 45%;
    }

    .desenvolvedor {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {

    /*Divs do Header*/

    .logo-busca {
        margin-left: 65px;
        margin-right: 0px;
    }

    .busca {
        height: 42px;
        width: 475px;
    }

    .login {
        margin: 0 65px 0 1%;
    }

    /*Banner Promocional*/

    .destaque {
        height: 300px;
    }

    .banner {
        padding-left: 70px;
    }

    .banner h1 {
        font-size: 45px;
    }

    .banner h4 {
        font-size: 18px;
    }

    .banner button {
        height: 46px;
        width: 145px;
    }

    /*Divs na Sessão Produtos*/

    .prod-titulo .titulo {
        font-size: 30px;
        margin-left: 30px;
    }

    .mostrar-mais {
        margin-right: 20px;
    }

    .sessao-produtos {
        gap: 1.5rem;
        justify-content: center;
    }

    .produto {
        width: 12.5%;
    }

    /*Form Contato*/

    .contato-div {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
        margin-top: 10px;
        width: 50%;
    }

    .links-uteis {
        margin: 0 10px 0 30px;
    }

    .form {
        margin-left: 60px;
        margin-right: 100px;
        width: 45rem;
    }

    .form button {
        width: 13rem;
    }
}